.incremental {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  border-top: 1px solid #a8a4a4;
  border-left: 1px solid #a8a4a4;
}

.title {
  background: #889bab;
  color: white;
  padding: 3px 0;
  font-weight: bolder;
  text-transform: uppercase;
}
