body {
  margin: 0;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  font-weight: bold;
}

@font-face {
  font-family: museo-sans;
  src: url('./assets/fonts/MuseoSans-300.otf') format('opentype');
}
